{% extends "source.html" %} 
{% block content%}
    <div class="col-md-8">
      <template id="post_template">
        <article class="media content-section">
          <div class='top-bar'>
            <div class='pic'style="float:left;">
              <img class="rounded-circle article-img" id="pic">
            </div>
            <div class='posthead' style="margin:0 auto;">
              <h4><a class="mr-2" id="author" href=""></a></h4>
              <small class="text-muted" id="date" ></small>
            </div>
          </div>
          <div class="media-body">
            <div class="article-metadata">
              <h2><a class="article-title" id="title" href=""></a></h2>
            </div>
            <p class="article-content" id="content" ></p>
          </div>
        </article>
      </template>
    </div>
    <div class="col-md-3">
            <div class="content-section">
              <h3>Filter</h3>
              <p class='text-muted'>
                <ul class="list-group">
                  <li class="list-group-item list-group-item-light" ><a href='{{url_for("home")}}'>Latest Posts</a></li>
                  <li class="list-group-item list-group-item-light" ><a href=''>Popular posts</a></li>
                  {% if current_user.is_authenticated %}
                  <li class="list-group-item list-group-item-light"><a href='{{url_for("userspost")}}'>My posts</a></li>
                  {% endif %}
                  <li class="list-group-item list-group-item-light">Search by tags</li>
                  <form class="content-section" method="POST" action="home">
                    {% for tag in tags %}
                    {{tag.name}}<input type="checkbox" value="f{{tag.id}}">
                    {% endfor %}
                    <button type="submit" class="btn btn-primary" name = "submit" value="search">search</button>
                  </form>
                </ul>
              </p>
            </div>
    </div>
    <p id='bum'></p>
    <script type="module"  src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock content %}