{% extends 'source.html' %}
{% block content %}
<div class="col-md-8">
    <h2> {{name}}'s Posts </h2>
    {% for post in posts %}
    <article class="media content-section">
      <div class='top-bar'>
        <div class='pic'style="float:left;">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile/' + post.author.image) }}">
        </div>
        {% if current_user.is_authenticated %}
          {% if post.author.id == current_user.id %}
          <div class="btn-group" style="float: right;" >
            <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </button>
            <div class="dropdown-menu" >
              <a class="dropdown-item" href="{{url_for('deletepost',psid=post.id)}}">Delete Post</a>
              <a class="dropdown-item" href="{{url_for('updatepost',psid=post.id)}}">Update Post</a>
            </div>
          </div>
          {% endif %}
        {% endif %}
        <div class='posthead' style="margin:0 auto;">
          <h4>{{ post.author.username }}</h4>
          <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        </div>
      </div>
      <div class="media-body">
        <div class="article-metadata">
          <h2><a class="article-title" href="/post/{{post.id}}">{{ post.title }}</a></h2>
        </div>
        <p class="article-content">{{ post.content }}</p>
      </div>
    </article>
{% endfor %}
  </div>
{% endblock content %}